html {
  font-family: monospace;
  scroll-behavior: smooth;
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  border-radius: 8px;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 8px;
    border: none;
    outline: none;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 25px;
    font-family: monospace;
  }

  .bottomnav a, .bottomnav-right {
    float: none;
    display: block;
  }

  .bottomnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

main {
  margin-bottom: 90px;
}

main h1 {
  font-size: 55px;
}

.about {
  text-align: center;
  margin-top: 800px;
  font-size: 14px;
}

#profile-photo {
  border-radius: 25px;
}

.projects {
  margin-top: 800px;
  text-align: center;

}

.projects-images {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projects img {
  padding: 10px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}

ul.skills {
  font-size: 12px;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

ul.hobbies {
  font-size: 12px;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.about h3 {
  font-weight: bold;
  font-size: 20px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 25px;
  font-family: monospace;
}

#myBtn:hover {
  background-color: #555;
}

/* Footer styling start*/
footer {
  text-align: center;
  position: absolute;
  width: 100%;
  margin-bottom: 40px;
  padding-bottom: 40px;
}

/* Remove blue color from links */
a {
  color: inherit;
}

/* End of footer styling */

/* Add a black background color to the top navigation */
.bottomnav {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 60px;
}


/* Style the links inside the navigation bar */
.bottomnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
}

/* Change the color of links on hover */
.bottomnav a:hover {
  background-color: #ddd;
  border-radius: 8px;
}
